

@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@500;600 &familia= Montserrat:peso@100 & display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

    
}




html{ 

    font-size: 62.5%;   
  
  } 
  
   
  body{ 
  
    font-size: 1.8rem; 

    font-family: 'Dancing Script', cursiva; 

    background-image: url(../img/bg-top-desktop.svg), url(); 

    background-color: rgb(232, 171, 232); 

} 
  
  
   
  
 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    

}

nav ul li {
    float: left;
    

}

nav a {
    color: rgb(159, 87, 136);
    text-decoration: none;
    display: block;
    padding: 20px 26px;
    font-family: 'Dancing Script', cursiva;
    font-size: 20px;

}


h1{ 

    font-family: 'Dancing Script', cursiva; 

    font-size: 4rem; 

    align-items: center;

 

} 

.menu {
    background-color: rgb(215, 141, 215);
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: bottom 1px solid rgb(190, 127, 189);
  
}
